@import "tailwindcss";

@theme{
  --background-image-custom-picture: url(./assets/workspace.webp);
}

@layer base{
  body{
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
}

@layer components {
  button{
    @apply cursor-pointer
  }
}