@import "tailwindcss";

@theme{
  --background-image-custom-picture: url(./assets/workspace.webp);
}

@layer base{
  body{
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
}

@layer components {
  button{
    @apply cursor-pointer
  }

  .item-icon{
    @apply text-white h-8 px-2 flex items-center justify-center gap-1 rounded-full
  }
}